@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap");
@import url("reset.css");

// Primary Colors
$desaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);

// Neutral Colors
$dark-grayish-red: hsl(0, 6%, 24%);

//Gradients
$gradient1: linear-gradient(
  135deg,
  hsl(0, 0%, 100%) 0%,
  hsl(0, 100%, 98%) 100%
);
$gradient2: linear-gradient(135deg, hsl(0, 80%, 86%) 0%, hsl(0, 74%, 74%) 100%);

body {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: $dark-grayish-red;
}

.logo {
  height: 20px;
  width: 100px;
  margin: 32px;
}
.hero-mobile {
  max-width: 800px;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 32px 0 32px;
  text-align: center;

  h1 {
    color: $desaturated-red;
    max-width: 80%;

    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.5rem;
    letter-spacing: 0.65rem;
    line-height: 2.64rem;

    margin-bottom: 16px;

    span {
      display: block;
      color: $dark-grayish-red;
      font-weight: 600;
    }
  }
  p {
    margin: 0 0 33px 0;
    max-width: calc(800px - 32px * 2);
    color: $desaturated-red;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.35rem;
  }
  .input-block {
    width: 100%;
    margin-bottom: calc(1.35rem + 32px);
    .input-wrapper {
      display: flex;
      align-items: center;
      height: 46px;
      width: calc(100% - 2px);
      border: 1px solid $desaturated-red;
      border-right: none;
      border-radius: calc(46px / 2);
      input {
        flex: 1 1 auto;
        color: $dark-grayish-red;
        background: transparent;
        margin-left: 23px;
        height: 100%;
        min-width: 100px;
        border: none;
        &::placeholder {
          color: $desaturated-red;
        }
        &:invalid {
          box-shadow: none;
        }
      }
      .icon-error {
        display: none;
        width: 24px;
        height: 24px;
        margin: 0 10px;
      }
      button {
        width: 64px;
        border: none;
        height: calc(100% + 2px);
        border-radius: calc(46px / 2);
        display: flex;
        justify-content: center;
        align-items: center;
        background: $gradient2;
        box-shadow: 0px 12px 12px 3px hsla(0, 80%, 86%, 0.5);
        img {
          width: 10px;
          height: 20px;
        }
      }
    } // end input wrapper
    .error-message {
      display: none;
      margin: 10px 24px;
      color: $soft-red;
      font-weight: 400;
      font-size: 0.9rem;
      line-height: 1.35rem;
    }
    &.error {
      .icon-error {
        display: block;
      }
      .error-message {
        display: block;
      }
    }
  } // end input block
} // end call-to-action

footer {
  text-align: center;
  color: $desaturated-red;
  font-weight: 300;
  margin-bottom: 32px;
  p {
    margin: 0;
  }
  span {
    font-weight: 400;
  }
}

.hero-desktop {
  display: none;
}

@media screen and (min-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .call-to-action {
    .input-block {
      width: 70%;
    }
  }
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@supports (grid-area: auto) {
  @media screen and (min-width: 1440px) {
    body {
      justify-content: center;
      height: 100vh;
    }
    .card {
      height: 800px;
      width: 1440px;
      display: flex;
      box-shadow: 0 4px 2px -2px hsla(0, 50%, 60%, 0.2),
        0 2px 2px 0 hsla(0, 50%, 60%, 0.14), 0 2px 6px 0 hsla(0, 50%, 60%, 0.12),
        4px 0 2px -2px hsla(0, 50%, 60%, 0.2);
      .content {
        position: relative;
        flex-direction: unset;
        align-items: unset;
        display: grid;
        grid-template-columns: 444px;
        grid-template-rows: 165px 515px auto;
        grid-template-areas:
          " logo"
          " content"
          " footer";
        background-image: url("images/bg-pattern-desktop.svg");
        background: cover;
        padding: 65px 220px 30px 166px;
        &::before {
          content: " ";
          position: absolute;
          background: $gradient1;
          background: cover;
          width: 100%;
          height: 100%;
          z-index: -1;
        }
        & > * {
          margin: 0;
          padding: 0;
          max-width: 100%;
        }
        .hero-mobile {
          display: none;
        }
        .logo {
          grid-area: logo;
          height: 32px;
          width: 160px;
        }
        .call-to-action {
          grid-area: content;
          text-align: left;
          h1 {
            max-width: 100%;
            margin: 0 0 21px 0;
            font-size: 3.8rem;
            letter-spacing: 1.25rem;
            line-height: 4.3rem;
          }
          p {
            font-size: 1rem;
            line-height: 1.75rem;
            letter-spacing: 0.005rem;
            margin-bottom: 40px;
          }
          form {
            width: 100%;
            .input-block {
              width: inherit;
              .input-wrapper {
                height: 54px;
                border-radius: calc(56px / 2);
                input {
                  margin-left: 32px;
                }
                button {
                  width: 97px;
                }
              }
            }
          }
        }
        footer {
          grid-area: footer;
        }
      }
      .hero-desktop {
        display: block;
      }
    }
  }
}
